body {
    margin: auto;

}

.jumbotron {
    padding: 8px;
}
.panel {
    background-color: #e9ecef;
    border-radius: .3rem;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0px 0px 32px;
}

.playerImage {
    height: 176px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.panel-table {
    background-color: #e9ecef;
    height: 208px;
    border-radius: .3rem;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0px 0px 32px;
}

table, th, td {
    border: 1px solid black;
}